<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BodyProgress</title>
</head>
<body>

<h1>BodyProgress</h1>

<form action="/submit" method="post">

    <p>姓名</p>
    <input type="text" name="name">

    <p>日期</p>
    <input type="date" name="date">

    <p>體重</p>
    <input type="number" step="0.1" name="weight">

    <p>體脂</p>
    <input type="number" step="0.1" name="bodyfat">

    <p>肌肉量</p>
    <input type="number" step="0.1" name="muscle">

    <p>內臟脂肪</p>
    <input type="number" step="0.1" name="visceral_fat">

    <br><br>

    <button type="submit">
        新增資料
    </button>

</form>

</body>
</html>